*{
    margin: 0;
    padding: 0;
    background-color: silver;
}
.cabecalho{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid black 1px;
    border-bottom-width: 1px;
    padding-bottom: 2%;
}
.cabecalho-botoes-conteiner{
    background-color: black;
    color: silver;
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
    margin-right: 2%;
}
.cabecalho-botoes{
    margin-top: 10px;
    text-decoration: none;
    color: silver;
    background-color: black;
}
.cabecalho-botoes:hover{
    color: white;
}

.conteudo__titulo{
    display: flex;
    margin-left: 100px;
    margin-top: 100px;
}

.conteudo__content{
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 300px 300px 300px 300px 300px;
    justify-content: center;
    gap: 100px;
}
.conteudo__content__conteiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px black solid;
    padding: 20px;
}

.conteudo__content__conteiner__img{
    width: 345px;
    height: 145px;
}

.cabecalho-icon{
    margin-top: 1rem;
    margin-left: 2%;
}

.rodape{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}