*{
    margin: 0;
    padding: 0;
    background-color: silver;
}
.cabecalho{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid black 1px;
    border-bottom-width: 1px;
    padding-bottom: 2%;
}
.cabecalho-botoes-conteiner{
    background-color: black;
    color: silver;
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
    margin-right: 2%;
}
.cabecalho-botoes{
    margin-top: 10%;
    text-decoration: none;
    color: silver;
    background-color: black;
}
.cabecalho-botoes:hover{
    color: white;
}

.cabecalho-icon{
    margin-top: 1rem;
    margin-left: 2%;
}

.content__titulo{
    margin-left: 100px;
    margin-top: 100px;
}

.content__inputs{
    display: grid;
    margin-top: 100px;
    grid-template-columns: 300px 300px;
    justify-content: center;
    align-content: center;
    gap: 12px;
}

.content__inputs__input{
    gap: 12px;
    display: flex;
    width: 300px;
    height: 30px;
}

.content__inputs__conteiner{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content__inputs__text_area{
    display: flex;
    width: 600px;
    border-radius: 8px;

}

.content__buton{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 500px;
}

.content__buton__botao{
    width: 100px;
    height: 50px;
}

.content__buton__botao:hover{
    background-color: rgba(87, 91, 95, 0.178);
}
.rodape{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}